.jumbotron{
    padding: 15px;
}
.cards{
    width: 70%;
    margin: auto;
    padding: 15px;
}
.footer{
    background-color: rgb(13,110,253);
    text-align: center;
    height: 100px;
    padding-top: 60px;
    margin-top: 30px;
}